# Ce fichier me sert à gérer les variables de shell. 
# J'en ai principalement besoin pour demander poliement à 
# Microsoft de pas me traiter comme un distributeur de data.
# Je n'ignore pas l'ironie de faire cela dans un projet dotnet
# dont le dépôt git se trouve sur Github, mais je reste
# complètement contre tout ça donc
DOTNET_CLI_TELEMETRY_OPTOUT=true

# Petite modification du PATH pour avoir accès aux outils dotnet
PATH="$PATH:$HOME/.dotnet/tools"
